
<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
<link href="style.css" rel='stylesheet'>
</head>
<body>
	<h1>PolitiSearch</h1>


<div id='search'>
	<input type='text' placeholder='Search By Last Name' id='findlastName'></input>
	<button id='searchName'> Find Senator </button>

	<input type='text' placeholder='Search By State ' id='findStateTwok,'></input>
	<button id='searchState'> Find Senator </button>
	
	<button id='showBills'>Show Bills Sponsored</button>
	<button id='showDonate'>Show Donations </button>
</div>

<h2></h2>

<div id='poliInfo'>
	<ul id='Info'>
		<li id='first'></li>
		<li id='last'></li>
		<li id='party'></li>
		<li id='startT'></li>
		<li id='endT'></li>
		<li id='state'></li>
	</ul>
</div>


<div>
	<ul id='sponsoredBills'> Bills Sponsored
	</ul>
</div>

<div>
	<ul id='donationAmts'> Donations Received 
	</ul>
</div>

<script>
	var sunKey = '<%= sunKey %>'; 

	console.log('are we in the ejs file?')
</script>

<script type='text/javascript' src='main.js'></script>


</body>
</html>