<!DOCTYPE>
<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
<link href="style.css" rel='stylesheet'>
</head>
<body>

<input type='text' placeholder='senators last name'></input>
<button> Find Senator </button>

<ul>Bioguide List
</ul>

<h2></h2>

<script type='text/javascript' src='main.js'></script>


</body>
</html>