
<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
<link href="style.css" rel='stylesheet'>
</head>
<body>
	<h1>PolitiSearch</h1>


<div id='search'>
	<input type='text' placeholder='Search By Last Name' id='findlastName'></input>
	<button id='searchName'> Find Senator By Last Name </button>

	<input type='text' placeholder='Search By State ' id='findStateTwo'></input>
	<button id='searchState'> Find Senator By State </button>
	
	<button id='showBills'>Show Bills Sponsored</button>

	<input type='text' placeholder='Enter Year' id='donationYear'></input>
	<button id='showDonate'>Show Donations </button>
</div>

<h2></h2>

<div id='poliInfo'>

</div>


<div id='billsDiv'>
	
</div>

<div id='donationDiv'>
	
</div>

<script>
	var sunKey = '<%= sunKey %>'; 

	console.log('are we in the ejs file?')
</script>

<script type='text/javascript' src='main.js'></script>


</body>
</html>