<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
	<link href="style.css" rel='stylesheet'>
</head>
<body>

	<!-- Add tooltips to d3 bubble chart -->
	<!-- Add a recent search history list and make them clickable links -->
	
	<div id='searchbar'>
		<div id='home'> <span id='RTH'>RTH</span></div>
		<input class='bar' type='text' placeholder='Search By Last Name' id='findlastName'></input>
		<button class='click' id='searchName'> Search Last Name </button>

		<input class='bar' type='text' placeholder='Search By State ' id='findStateTwo'></input>
		<button class='click' id='searchState'> Search State </button>		
	</div>

	<div id='page'>
		<h1 id='landing'>REP THE HOUSE</h1>

		<h3 id='sublanding'> This is a website for you to research the current legislators in the United States House of Representatives. Do yourselves a favor and stay informed!</h3>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script> 
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>	
	<script src='define.js'></script>
	<script type='text/javascript' src='main.js'></script>
	<script type="text/javascript" src='d3style.js'></script>

</body>
</html>