*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#svgBox{
	width: 100%;
	height: 500px;
	border: 2px solid black;
}

#info{
	background-color: blue;
	border: 4px solid #ccb62f;
	border-radius: 20px;
	color: white;
	padding: 35px;
}

.billLinking{
	color: red;
	font-size: 36px;
}

#search{
	position: absolute;
	top: 0;
	width: 100%;
	height: 5%;
	background-color: red;
}

.bar{
	padding-right: auto;
	padding-left: auto;
	position: relative;
	height: 90%;
}

#pageTitle{
	top: 6%;
	position: relative;
}