*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*search bar styling*/
#searchbar{
	position: absolute;
	top: 0;
	width: 100%;
	height: 8%;
	background-color: #488be1;
	left: 0;
}

.bar{
	height: 80%;
	text-align: center;
	left: 30%;
	position: relative;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

/*css for buttons*/
.click{
	border-radius: 50px;
	box-shadow: 3px 0px 3px 0px #170000;
	margin-left: 3px;
	margin-right: 3px;
}

#svgBubble{
	float: left;
}

/*the div that holds the bio information of a single legislator*/
#poliInfo{
	width: 50%;
	background-color: #0474ef;
	border: 4px solid #ccb62f;
	border-radius: 20px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

/*the div that holds the list items of the multiple legislators*/
#multiInfo{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #ccb62f;
	margin-top: 5%;
}

/*the class of the li's created when there are multiple legislators*/
.multiList{
	margin-left: 0;
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 650;
	background-color: #0474ef;
	color: white;
	list-style-type: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

#donationYear{
	color: black;
}

/*Each whole bill*/
#infoBox{
	width: 100%;
	background-color: #998da3;
}

/*Each line of bill information*/
#billsInfo{
	width: 50%;
	position: absolute;
	left: 0;	
}

/*div that will hold the donation list*/
#donateList{
	background-color: #53e961;
	border: 2px solid blue;
}

/*div that will hold the svg bubble chart*/
#donateBubble{

}