<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
	<link href="reset.css" rel='stylesheet'>

	<link href="style.css" rel='stylesheet'>
</head>
<body>
	
	<div id='search'>
		<input class='bar' type='text' placeholder='Search By Last Name' id='findlastName'></input>
		<button class='bar' id='searchName'> Find Senator By Last Name </button>

		<input class='bar' type='text' placeholder='Search By State ' id='findStateTwo'></input>
		<button class='bar' id='searchState'> Find Senator By State </button>
		
		<button class='bar' id='showBills'>Show Bills Sponsored</button>

		<input class='bar' type='text' placeholder='Enter Year' id='donationYear'></input>
		<button class='bar' id='showDonate'>Show Donations </button>

		<button id='BLAH'>Circles</button>
	</div>

	<h1 id='pageTitle'>PolitiSearch</h1>


	<h2></h2>

	<div id='poliInfo'></div>

	<div id='multiList'></div>

	<div id='billsDiv'></div>

	<div id='donationDiv'></div>

	<svg></svg> 

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	
	<script src='define.js'></script>
	<script type='text/javascript' src='main.js'></script>
	<script type="text/javascript" src='d3style.js'></script>

</body>
</html>