<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
	<link href="bootstrap.min.css" rel="stylesheet">

	<link href="style.css" rel='stylesheet'>
</head>
<body>

	<div id='searchbar'>
		<input class='bar' type='text' placeholder='Search By Last Name' id='findlastName'></input>
		<button class='bar click' id='searchName'> Search Last Name </button>

		<input class='bar' type='text' placeholder='Search By State ' id='findStateTwo'></input>
		<button class='bar click' id='searchState'> Search State </button>		
	</div>

	<div id='page'></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script> 
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>	
	<script src='define.js'></script>
	<script type='text/javascript' src='main.js'></script>
	<script type="text/javascript" src='d3style.js'></script>
</body>
</html>